//- extends layout

//- block content
//-   h1= title
//-   - let items=results
//-   - let destinationcreate = `dispatch(\"/gems/create\")`
//-    button.btn( class="btn-primary ml-1", onclick= destinationcreate) Create
//-   div(class="container-fluid")
//-     div(class="row m-1")
//-      each item in items
//-       - let destination = `dispatch(\"/gems/update?id=${item._id}\")`
//-       - let destinationdelete = `dispatch(\"/gems/delete?id=${item._id}\")`
//-       - let destinationdetail = `dispatch(\"/gems/detail?id=${item._id}\")`
//-       div(class="row-sm-2", class="m-1") Glass #{item.gems_color} quantity (#{item.gems_breed}) is #{item.gems_price}
//-        button.btn( class="btn-primary ml-1", onclick= destination) Update
//-        button.btn( class="btn-primary ml-1", onclick= destinationdelete) Delete
//-        button.btn( class="btn-primary ml-1", onclick= destinationdetail) Detail
//-   script. 
//-    function dispatch(path){
//-     window.location.href=path}

extends layout
block content
 h1= title
 - let items = results;
 div(class="container-fluid")
  div(class="row")
   each item in items ? items : []
    div(class="row-sm-2", class="m-1") Item #{item.gems_color}(#{item.gems_breed}) is #{item.gems_price}

 script.
  function dispatch(path){
  window.location.href=path}